<input [(ngModel)]="searchInput" placeholder="Enter Media title ..." />

<div *ngIf="hasSearchInput()" (click)="resetSearch()">
  <i class="fa fa-times" aria-hidden="true"></i>
</div>

<button (click)="doSearch()" [disabled]="!hasSearchText()"><i class="fa fa-search" aria-hidden="true"></i>search</button>

<div *ngIf="searchText && medias">
  <ul>
    <li class="media" *ngFor="let media of medias">
      <label>
        <input type="checkbox" (change)="toggleEntry(media)" />
        <h3>{{media.title}}</h3>
        <h4 *ngIf="media.title != media.originalTitle">{{media.originalTitle}}</h4>
        <span><i class="fa fa-calendar" aria-hidden="true"></i>{{media.released}}</span>
        <div>
          <img src="http://image.tmdb.org/t/p/w150/{{media.poster}}" />
          <p>{{media.description}}</p>
        </div>
      </label>
    </li>
  </ul>

  <button (click)="saveMedias()" [disabled]="!selectedMedias"><i class="fa fa-floppy-o " aria-hidden="true"></i>save</button>

</div>

<p *ngIf="error">
  {{error.message}}
</p>

<app-back-button></app-back-button>