<nav class="toolbar">
  <a class="menu" [routerLink]="[ '/', 'movies', 'add' ]"><i class="fa fa-plus" aria-hidden="true"></i>Add ...</a>
  <a class="menu" [routerLink]="[ '/', 'movies', 'import' ]"><i class="fa fa-upload" aria-hidden="true"></i>Import ...</a>
  <a class="menu" [routerLink]="[ '/', 'movies', 'export' ]"><i class="fa fa-download" aria-hidden="true"></i>Export ...</a>
  <a class="menu" [routerLink]="[ '/', 'preferences' ]"><i class="fa fa-cogs" aria-hidden="true"></i>Preferences</a>
  <a class="menu" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</nav>