.toolbar {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 10px;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #eeeeee;
    background-color: #111111;
    color: #eeeeee;
    box-sizing: border-box;
}

.menu > .fa {
    width: 24px;
    height: 24px;
    font-size: 25px;
}
.middle {
    flex-grow: 3;
}

.left,
.right {
    flex-grow: 1;
}

.right {
    text-align: right;
}