<h1>{{appService.getTitle()}}</h1>

<ul *ngIf="movies; else noMovies" class="movies">
  <li [routerLink]="[ '/', 'movies', 'add' ]" class="movie router-link">
    <div class="movie-container">
      <i class="fa fa-plus movie-add" aria-hidden="true"></i>
    </div>
  </li>
  <li *ngFor="let movie of movies" [routerLink]="[ '/', 'movie', movie.uuid ]" class="movie router-link">
    <div class="movie-container">
      <img src="{{mediaService.getPoster(movie.tmdb.poster_path)}}" title="{{movie.tmdb.title}}" class="movie-poster"/>
      <b class="movie-title">{{movie.tmdb.title}}</b>
    </div>
  </li>
</ul>

<ng-template #noMovies>
  <p>No movies found</p>
</ng-template>