<div *ngIf="movie">

  <h1>{{movie.tmdb.title}}</h1>

  <div *ngIf="movie.tmdb.poster_path"><img src="{{mediaService.getPoster(movie.tmdb.poster_path,300)}}" />
  </div>

  <ul>
    <li>Title: {{movie.tmdb.title}}</li>
    <li *ngIf="!compareService.equals(movie.tmdb.title, movie.tmdb.original_title)">Original Title: {{movie.tmdb.original_title}}</li>
    <li>Original Language: {{movie.tmdb.original_language}}</li>
    <li>Release Date: {{movie.tmdb.release_date | date:"dd/MM/yyyy" }}</li>
    <li>Tagline: {{movie.tmdb.tagline}}</li>
    <li>Description: {{movie.tmdb.overview}}</li>
    <li *ngIf="movie.tmdb.genres">
      <span *ngFor="let genre of movie.tmdb.genres" class="genre">{{genre.name}}</span>
    </li>
    <li>Runtime: {{movie.tmdb.runtime | duration:'m'}} / {{movie.tmdb.runtime | runtime}}</li>
  </ul>

  <div>
    <a href="http://www.imdb.com/title/{{movie.tmdb.imdb_id}}"><i class="fa fa-external-link" aria-hidden="true"></i>IMDB</a>
    <a *ngIf="movie.tmdb.homepage" href="{{movie.tmdb.homepage}}"><i class="fa fa-external-link" aria-hidden="true"></i>IMDB</a>
  </div>

  <app-movie-ratings [popularity]="movie.tmdb.popularity" [voteAverage]="movie.tmdb.vote_average" [voteCount]="movie.tmdb.vote_count"></app-movie-ratings>

  <app-back-button></app-back-button>
  
</div>